/* GENERIC */
:root {
  --font-headline-bold: "Playfair Display", serif;
  --black: #303030;
  --font-headline-light: "Poppins", sans-serif;
  --light-blue: #89aedd;
  --black: #303030;
  --pink: #ffcad4;
  --dark-blue: #374968;
  --white: #ffffff;
}
body {
  background: radial-gradient(
      circle at 50% 50%,
      rgba(251, 219, 250),
      rgba(207, 200, 103, 0.1),
      rgba(146, 182, 236, 1)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9' numOctaves='1x' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  margin: 0;
}
h2 {
  font-family: var(--font-headline-bold);
  font-size: 30px;
  text-align: center;
  color: var(--black);
}

h1,
h3 {
  font-family: var(--font-headline-bold);
  font-size: 20px;
  line-height: 42px;
  margin-top: 0 auto;
}
p {
  font-family: var(--font-headline-light);
  font-weight: 300;
}
a {
  color: var(--dark-blue);
  text-decoration: none;
}

a:hover {
  color: var(--light-blue);
  text-decoration: none;
}
/* Navigation */
nav a {
  text-decoration: none;
  color: var(--dark-blue);
  font-family: --font-headline-light;
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
}

nav a:hover {
  cursor: pointer;
  background-color: var(--pink);
  color: var(--dark-blue);
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: 10px 10px 38px rgba(0, 0, 0, 0.1);
}
.active a {
  color: var(--white);
  background-color: var(--light-blue);
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid transparent !important;
}
nav {
  display: flex;
  justify-content: space-between;
  max-width: 3000px;
  margin: 0 100px;
  padding: 10px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
.hero {
  display: flex;
  flex-direction: row;
}

.hero > div {
  min-height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero > div:nth-of-type(1) {
  flex: 1;
  background-image: url("/images/sparkles-index.svg");
}

.hero > div:nth-of-type(2) {
  flex: 4;
  background-image: url("/images/hero.svg");
}

.hero > div:nth-of-type(3) {
  flex: 1;
  background-image: url("/images/sparkles-index.svg");
  transform: scaleX(-1);
}

.intro {
  text-align: justify;
  margin: 100px;
}

.signature {
  font-family: var(--font-headline-bold);
}
/* CONTACT */
.contact-button {
  margin: 0 auto;
  width: fit-content;
  margin-top: 50px;
}
.contact-button > a {
  font-family: var(--font-headline-bold);
  color: var(--white);
  background-color: var(--light-blue);
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 15px;
  transition: all 200ms ease-in-out;
}

.contact-button > a:hover {
  color: var(--dark-blue);
  background-color: var(--pink);
  box-shadow: 10px 10px 38px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 680px) {
  .hero > div:nth-of-type(1),
  .hero > div:nth-of-type(3) {
    display: none;
  }
  .hero > div:nth-of-type(2) {
    flex: 1;
    width: fit-content;
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 653px) {
  .card {
    font-size: 11px;
  }
  h3 {
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
  }
}
.vertical-line {
  margin: 0 auto;
  width: fit-content;
  border-left: 1px solid var(--black);
  height: 200px;
}
.card {
  background-color: var(--white);
  box-shadow: 10px 10px 38px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  max-width: 600px;
  height: 260x;
  margin: 5px 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2em;
  padding-left: 20px;
}
.chi {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  margin-bottom: 3em;
}

.chi > div {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cv-button {
  margin: 0 auto;
  width: fit-content;
  margin-top: 1em;
}

.cv-button > span {
  display: block;
  font-family: var(--font-headline-bold);
  color: var(--white);
  background-color: var(--light-blue);
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 15px;
  box-shadow: 10px 10px 38px rgba(0, 0, 0, 0.1);
}
.cv-button > span:hover {
  transition: all 200ms ease-in-out;
  background-color: var(--pink);
  color: var(--black);
}

.chi img {
  border-radius: 40%;
  margin-left: 100px;
  width: 50%;
}

.chi h2 {
  font-family: var(--font-headline-bold);
  color: var(--black);
}

.chi p {
  font-family: var(--font-headline-light);
  text-align: justify;
    margin-right: 100px;
}
@media only screen and (max-width: 680px) {
  .chi {
    flex-direction: column;
  }

  .chi img {
    max-width: unset;
  }

  .chi h2 {
    text-align: center;
  }
  .contact {
    font-size: 2px;
  }
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 2em;
  margin-bottom: 80px;
}

.tags > span > i {
  color: var(--white);
  margin-right: 0.5em;
}

.tags > span {
  width: fit-content;
  margin: 0 auto;
  background-color: var(--light-blue);
  padding: 0.5em 1em;
  border-radius: 25px;
  text-align: center;
  color: var(--white);
  font-family: var(--font-headline-light);
  text-shadow: 5px 5px 16px rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 900px) {
  .tags {
    justify-content: center;
  }
  .project-description {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 120px;
  }
}

.card-text {
  width: 100;  
  justify-content: center;
}

.card-text span {
  font-size: x-small;
  width: fit-content;
  background-color: var(--light-blue);
  padding: 0.5em 1em;
  border-radius: 25px;
  text-align: center;
  color: var(--white);
  font-family: var(--font-headline-light);
  text-shadow: 5px 5px 16px rgba(0, 0, 0, 0.19);
}

.card-text span > i {
  color: var(--white);
  margin-right: 0.3em;
}

.card-text h3 {
  font-family: var(--font-headline-bold);
}

.card-text p {
  margin-bottom: 10px;
}
footer {
  border-top: 1px solid var(--dark-blue-a30);
  padding: 1em 2em;
  color: var(--dark-blue-a30);
}

footer > div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 2000px;
}

footer i,
footer > div > span,
footer > div > span > a {
  color: var(--dark-blue-a30);
}

footer a {
  cursor: pointer;
}
footer a:hover,
footer a:hover > i {
  color: var(--dark-blue);
}
.footer-right {
  display: flex;
  column-gap: 15px;
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project-description {
  padding-top: 80px;
}

.main .img-fluid {
  border-radius: 10px;
}

.btn-branding-outline {
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 16px;
  font-family: --font-headline-light;
  border-radius: 50px;
  border: 2px solid var(--pink);
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
}
.btn-branding-outline:hover {
  cursor: pointer;
  background-color: var(--pink);
  border: 2px solid var(--light-blue);
  color: var(--dark-blue);
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: 10px 10px 38px rgba(0, 0, 0, 0.1);
}
.latest-work {
  padding: 50px 0;
  text-align: center;
  background-color: whitesmoke;
    border-radius: 20px;
    padding: 0 30px;

}
.latest-work h2 {
  font-size: 35px;
}

.latest-work .grid-projects-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 40px 0 60px;
}
/* WORK */

.work .grid-work {
  text-align: center;
}

.content-works {
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 2px dotted var(--secondary-color);
}

.content-works:last-child {
  border: none;
}

.content-works .text {
  width: 50%;
  padding: 20px;
  order: 2;
}

.content-works h3 {
  font-weight: 600;
  font-size: 30px;
  color: var(--primary-color);
}
.content-works h4 {
  font-weight: 500;
  font-size: 22px;
  opacity: 0.7;
}

.content-works p {
  font-size: 22px;
  line-height: 1.5;
  text-align: left;
  font-weight: 300;
}

.content-works .photo {
  width: 50%;
  padding: 20px;
  order: 1;
}

.content-works:nth-child(even) .text {
  order: 1;
}

.content-works:nth-child(even) .photo {
  order: 2;
}

@media (max-width: 768px) {
  .content-works {
    flex-direction: column;
    padding: 35px 10px;
  }
  .content-works h3 {
    text-align: left;
    font-size: 30px;
    margin-top: 0;
  }
  .content-works h4 {
    font-size: 18px;
  }
  .content-works p {
    font-size: 18px;
    line-height: 1.5;
  }

  .content-works .text {
    width: 100%;
    order: 1;
    padding: 0 0 10px;
  }
  .content-works .photo {
    width: 100%;
    order: 2;
    padding: 0;
  }
}